.topnav {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);
}

.logo-topnav {
    height: 2em;
    border: 1px solid purple;
}

.nav-items {
    border: 1px solid red;
    display: flex;
}