#hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 5px solid purple;
  gap: 0;
}

.text-container {
  padding: var(--space-lg);
  border: 1px solid red;
}

.hero-badge {
  border-radius: 8px;
  padding: var(--space-xs);
  color: var(--ap-blue);
  font-weight: bold;
  font-size: x-large;
}

.hero-title {
	margin: var(--space-sm) 0;
}

.subheading {
  font-size: larger;
}

.core-services {
  display: flex;
  margin: var(--space-md) 0;
  flex-wrap: wrap;
  justify-content: left;
  gap: var(--space-sm);
}

.core-services li {
  display: inline-block;
  width: 14em;
  border-radius: 8px;
  list-style-type: none;
  text-align: center;
  padding: var(--space-sm);
  background-color: var(--ap-orange);
}

.core-services li a {
  font-weight: bold;
  color: var(--ap-blue);
}

.trust-indicators {
  display: flex;
  border: 4px solid var(--diminished-grey);
  border-radius: 8px;
}

.hero-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 16px;
  margin: var(--space-lg);
}

@media screen and (min-width: 768px) {
  #hero {
    justify-content: space-between;
  }

  .hero-image,
  .text-container {
    width: 47%;
  }
}
