.subnav-container {
    border-bottom: 2px solid var(--ap-orange);
}

.subnav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: var(--space-md);
    color: white;
    font-weight: bold;
}

.quicklinks {
    display: flex;
    justify-content: flex-start;
    gap: var(--space-lg);
    padding: var(--space-md);
}

.quicklinks a {
    font-weight: bold;
}