.subnav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.quicklinks {
    display: flex;
    justify-content: flex-start;
    gap: var(--space-lg);
    padding: var(--space-md);
}

.quicklinks li {
    list-style-type: none;
}

.nav-items {
    display: flex;
    align-items: center;
}